<html ng-csp>
<head lang="en">
    <title>IPT Bot</title>
    <script data-main="/js/main.js" src="/js/vendor/require.js"></script>
    <script src="/js/require.config.js"></script>

    <link rel="stylesheet" href="/css/angular-csp.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div ng-controller="RouteController">
    <ul id="nav">
        <li nav-item location="torrents" class="selected">Torrents</li>
        <li nav-item location="subscriptions">Subscriptions</li>
    </ul>
    <div style="clear: both; height:10px;"></div>

    <ng-view></ng-view>
</div>

</body>
</html>