<table ng-show="torrents.length > 0">
    <tr ng-repeat="torrent in torrents">
        <td>
            <a href="http://iptorrents.com/details.php?id={{torrent.id}}" target="_blank">
                {{torrent.title}}
            </a>
            - {{torrent.size}}
        </td>
        <td>{{torrent.date}}</td>
        <td style="text-align: center">
            <a href="#" ng-click="download(torrent.id)">
                <img src="/images/download.png" title="download" />
            </a>
            <a href="#" ng-click="dismiss(torrent.id)">
                <img src="/images/dismiss.png" title="dismiss" />
            </a>
        </td>
    </tr>
</table>
<div ng-show="!loading && torrents.length == 0" style="text-align: center">
    No torrents
</div>
<div ng-show="loading" style="text-align: center">
    <img src="/images/icon.png" />
</div>