<table ng-show="torrents.length > 0">
    <tr ng-repeat="torrent in torrents">
        <td>
            <a href="http://iptorrents.com/details.php?id={{torrent.id}}" target="_blank">
                {{torrent.title}}
            </a>
            - {{torrent.size}}
            <img style="margin-left:5px;" ng-show="getStatus(torrent.id) == 'downloading'" src="/images/ajax-loader.gif" />
            <img style="margin-left:5px; width:15px;" ng-show="getStatus(torrent.id) == 'completed'" src="/images/ok.png" />
            <img style="margin-left:5px; width:15px;" ng-show="getStatus(torrent.id) == 'failed'" src="/images/dismiss.png" />
        </td>
        <td>{{torrent.date}}</td>
        <td style="text-align: center">
            <img src="/images/download.png" title="download" class="torrent_action" ng-click="download(torrent.id)" />
            <img src="/images/dismiss.png" title="dismiss" class="torrent_action" ng-click="dismiss(torrent.id)" />
        </td>
    </tr>
</table>
<div ng-show="!loading && torrents.length == 0" style="text-align: center">
    No torrents
</div>
<div ng-show="loading" style="text-align: center">
    <img src="/images/ajax-loader.gif" />
</div>